asgiref==3.7.2
astroid==3.0.0a8
colorama==0.4.6
dill==0.3.7
Django==4.2.4
isort==6.0.0b2
lazy-object-proxy==1.9.0
mccabe==0.7.0
pip==22.3.1
platformdirs==3.10.0
pylint==3.0.0a6
setuptools==65.5.1
sqlparse==0.4.4
tomlkit==0.12.1
tzdata==2023.3
wheel==0.38.4
wrapt==1.15.0
